<HTML>
    <header>

        <!-- bring in jquery -->
        <script
                src="https://code.jquery.com/jquery-3.6.0.slim.js"
                integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
                crossorigin="anonymous">
        </script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        
        <!-- self-made stylesheets -->
        <link rel="stylesheet" href="/css/styles.css">
    </header>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ncform">
                    <form>
                        <div class="form-group">
                            <h2>Enter New Cat</h2>
                            <hr>
                            <label for="catNameInput">Cat Name:</label>
                            <input type="text" class="form-control" id="catName" placeholder="Enter Name">
                            
                        </div>
                        <div class="form-group">
                            <label for="catAge">Cat Age:</label>
                            <input type="text" class="form-control" id="catAge" placeholder="Enter Age">
                            
                        </div>
                        
                        <button type="button" id="add_cat" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
            
    </body>

    <!-- Modal -->
        <div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="responseModal">Cat Server</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="messages_content" class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default"><a href="/">Return to Home</a></button>
              </div>
            </div>
          </div>
        </div>

    <script src="/js/addcat.js"></script>
</HTML>