<HTML>
    <header>
        <script
                src="https://code.jquery.com/jquery-3.6.0.slim.js"
                integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
                crossorigin="anonymous">
        </script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        
        
        <link rel="stylesheet" href="/css/styles.css">
    </header>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Update a Cat</h2>
                    <p>Maybe you'll get it right this time buddy</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <form>
                        <div class="form-group">
                            <label for="cat-select">Choose Cat to Edit:</label>
                            <select class="form-control" id="cat-select">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cat-select-name">Name:</label>
                            <input id="cat-select-name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="cat-select-age">Age:</label>
                            <input id="cat-select-age" type="text" class="form-control">
                        </div>
                        <button type="button" id="update_cat" class="btn btn-success">Update Cat</button>
                        <button type="button" id="return_home" class="btn btn-info">Return Home</button>
                    </form>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="responseModal">Cat Server</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="messages_content" class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="del-success" onClick="pageRefresh();">Close</button>
                <button type="button" class="btn btn-default"><a href="/">Return to Home</a></button>
              </div>
            </div>
          </div>
        </div>




        <script src="/js/editcats.js"></script>
    </body> 

</HTML>